extends layout

block content
  .container
    h1 Stephen's Stock Market Tracker
    p.lead Search for a stock and see historical data!
    div.input-group
      input.form-control(type="text", id="search", placeholder="Search for stock symbols")
      span.input-group-btn
        button.btn.btn-primary(type="button", id="get-quote", style="margin-bottom: 10px;") Click for Quotes!
    .row
      .col.xs-3
        ul.list-group.list-inline#quotes
