extends layout

block content
  .container
    h1 Stephen's Stock Market Tracker
    p.lead Search for a stock and see historical data!
    div.input-group
      input.form-control(type="text", id="search", placeholder="Search for stock symbols", ng-model="formData.text")
      span.input-group-btn
        button.btn.btn-primary(type="button", id="get-quote", style="margin-bottom: 10px;", ng-click="searchStocks(formData.text)") Click for Quotes!
    div.row
      div(ng-repeat="fetch in fetched")
        div.col-xs-2
          button.close(type="button", aria-label="Close", ng-click="deleteStock(fetch.name)")
            span(aria-hidden="true") &#215;
          p {{fetch.name}}
    chart(value="myChart", id="myCoolChart", width="800", height="600")
